<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
          <div class="search-div">
            <div class="booking-div1">
                <form action="/admin" method="post">
                    <input type="date" name="date" class="booking-input">
                    <select name="selectbus" class="booking-input">
                        <option value="volvo">volvo</option>
                        <option value="prevost">prevost</option>
                        <option value="Toyota motors">Toyota motors</option>
                        <option value="volkswagan AG">volkswagan AG</option>
                    </select>
                    <button type="submit">show</button>
                </form>
            </div>
          </div>
    </div>
</body>
</html>