<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <div class="change-div">
            <div class="navbar">
                <a href="/admin/adduser"><button>Add user</button></a>
                <a href="/admin/change"><button>Change Admin</button></a>
                </h4>
                <a href="/admin"><button>home</button></a>
                <a href="/logout"><button class="logout">log-out</button></a>
                <a href="/travellers"><button>passengers</button></a>
            </div>
            <div class="change-div1">
                <div class="change-div2">
                    <div class="change-form">
                        <form action="">
                            <input type="text" class="newinput" name="newadmin" placeholder="Newname">
                            <button type="submit">add</button>
                        </form>
                    </div>
                </div>
                <div class="change-div3">
                    <div class="change-div4">
                        <form action="">
                            <input type="text" name="currentassword" placeholder="current password">
                            <input type="text" name="newpassword" placeholder="new password">
                            <button type="submit">add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>