<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ticket confirmed</title>
    <style>
        .com-div{
            width: 100%;
            height: 100vh;
            background-color: seashell;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h1{
            color: green;
        }
    </style>
</head>
<body>

    <div class="com-div">
        <h1 >YOUR TICKET CONFIRMED </h1>
    </div>
    <script>
        setTimeout(()=>{
            window.location.href="http://localhost:4200"
        },2000)
    </script>
</body>
</html>