<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css
    ">
</head>
<body>
    <div class="admin-signup">
       <fieldset>
        <legend>
            <h3>Admin signup</h3>
        </legend>
            <div class="form-div5">
                <form action="/admin/adminsignup" method="post">
                    <input type="text" class="signupinput" name="adminsignup" required placeholder="ENTER USERNAME">
                    <input type="text" class="signupinput" name="adminpassword" required placeholder="ENTER PASSWORD">
                    <button class="signupbtn" type="submit">SIGN UP</button>
                    <p class="error">
                      <%=msg%>
                    </p>
                </form>
            </div>
        
       </fieldset>
    </div>
</body>
</html>